body {
  margin:0px;
  background-image:none;
  position:relative;
  left:-362px;
  width:1128px;
  margin-left:auto;
  margin-right:auto;
  text-align:left;
}
.form_sketch {
  border-color:transparent;
  background-color:transparent;
}
#base {
  position:absolute;
  z-index:0;
}
#u124 {
  border-width:0px;
  position:absolute;
  left:362px;
  top:126px;
  width:1128px;
  height:673px;
}
#u124_state0 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
}
#u124_state0_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u125 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
}
#u125_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
  overflow:auto;
}
#u124_state1 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u124_state1_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u126 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
}
#u126_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
  overflow:auto;
}
#u124_state2 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u124_state2_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u127 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
}
#u127_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
  overflow:auto;
}
#u124_state3 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u124_state3_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u128 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
}
#u128_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
  overflow:auto;
}
#u124_state4 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1128px;
  height:673px;
  -ms-overflow-x:hidden;
  overflow-x:hidden;
  -ms-overflow-y:hidden;
  overflow-y:hidden;
  background-image:none;
  border:none;
  border-radius:0px;
  -moz-box-shadow:none;
  -webkit-box-shadow:none;
  box-shadow:none;
  visibility:hidden;
}
#u124_state4_content {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1px;
  height:1px;
}
#u129 {
  border-width:0px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
}
#u129_input {
  border-width:2px;
  position:absolute;
  left:0px;
  top:0px;
  width:1124px;
  height:669px;
  overflow:auto;
}
